{:axes/line-color #Color[BLACK],
 :axes/line-width-px 1.0,
 :axes/visible true,
 :background/gradient-bottom #Color[0xe1f2ffac],
 :background/gradient-top #Color[0xb34d1aff],
 :major-grid/dot-color #Color[BLACK],
 :major-grid/dot-width-px 2.0,
 :major-grid/dots-visible true,
 :major-grid/enable true,
 :major-grid/line-color #Color[BLACK],
 :major-grid/line-width-px 0.25,
 :major-grid/lines-visible true,
 :major-grid/snap-to true,
 :major-grid/spacing #Distance[10000.0 um],
 :minor-grid/dot-color #Color[BLACK],
 :minor-grid/dot-width-px 0.5,
 :minor-grid/dots-visible true,
 :minor-grid/enable true,
 :minor-grid/line-color #Color[BLACK],
 :minor-grid/line-width-px 0.025,
 :minor-grid/lines-visible true,
 :minor-grid/ratio 8,
 :minor-grid/snap-to true,
 :origin/line-color #Color[GREEN],
 :origin/line-width-px 3.0,
 :origin/marker :diag-crosshair,
 :origin/size-px 10,
 :origin/visible true,
 :zoom/dynamic-grid-enable true,
 :zoom/ppmm 10.0,
 :zoom/scale-visible true}
