{:axes/line-color #Color[BLACK],
 :axes/line-width-px 1.0,
 :axes/visible true,
 :background/gradient-bottom #Color[0x4d66ccff],
 :background/gradient-top #Color[0xe6e6e6ff],
 :major-grid/dot-color #Color[0x996699ff],
 :major-grid/dot-width-px 2.0,
 :major-grid/dots-visible true,
 :major-grid/enable true,
 :major-grid/line-color #Color[0x664db3ff],
 :major-grid/line-width-px 3.49,
 :major-grid/lines-visible true,
 :major-grid/snap-to true,
 :major-grid/spacing #Distance[10000.0 um],
 :minor-grid/dot-color #Color[0xb399ffff],
 :minor-grid/dot-width-px 1.44,
 :minor-grid/dots-visible true,
 :minor-grid/enable true,
 :minor-grid/line-color #Color[0xffcce6ff],
 :minor-grid/line-width-px 0.025,
 :minor-grid/lines-visible true,
 :minor-grid/ratio 8,
 :minor-grid/snap-to true,
 :origin/line-color #Color[0xb31a1aff],
 :origin/line-width-px 3.0,
 :origin/marker :diag-crosshair,
 :origin/size-px 10,
 :origin/visible true,
 :zoom/dynamic-grid-enable true,
 :zoom/ppmm 13.100000000000001,
 :zoom/scale-visible true}
