    /* 
    Document   : login
    Created on : May 14, 2013, 7:27:22 AM
    Author     : mischw
    Description:
        Purpose of the stylesheet follows.
*/



.label-title {
    //-fx-font-size: 12px;
    -fx-font-weight: bold;
    //-fx-text-fill: #333333;
    //-fx-effect: dropshadow(gaussian, rgba(255,255,255,0.5),0,0,0,1);
}


.tab-pane {
    -fx-background-color: linear-gradient(#eeeeee, #dddddd);
}


.hbox {
    -fx-padding: 0 10 -0 10;
    -fx-spacing: 10;
}
.vbox {
    -fx-padding: 10 0 10 0;
    -fx-spacing: 10;
}
.grid-pane {
    -fx-padding: 8;
}

.root {
	-fx-error-highlight: #9c0006;
	-fx-error-faint-focus: #9C000622;
	-fx-error-background: #FFC7CE;
}

.text-input:error {
	-fx-text-fill: -fx-error-highlight;
	-fx-focus-color: -fx-error-highlight;
	-fx-faint-focus-color: -fx-error-faint-focus;
	-fx-control-inner-background: -fx-error-background;
}

.spinner:error > .text-field {
	-fx-text-fill: -fx-error-highlight;
	-fx-focus-color: -fx-error-highlight;
	-fx-faint-focus-color: -fx-error-faint-focus;
	-fx-control-inner-background: -fx-error-background;

}
							 
	






